#bodycadastro {
  margin-top: 15%;
}

#bodyinicio, #bodyprojetos {
  max-height: 60vh;
  
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  margin-top: 200px;
  padding: 0;
  padding-bottom: 5rem;
  background-image: url('./images/fundo_principal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  color: #fff;
  text-shadow: 0px 1px 4px #000000;
  height: 100vh;
  max-height: 80%;
}

header {
  display: flexbox;
  align-items: left;
  position: fixed;
  top: 0;
  opacity: 1;      
}

header h1 {
  margin: 0;
  padding: 10px 0;
  padding-top: 1rem;
}

header, footer {
  background: #4f72e4;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  padding-top: 0;
  background-image: url('images/Header.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  max-height: 8rem;
  margin: 0;
  opacity: 1;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  
}

form {
  max-width: 600px;
  margin: 0 auto;
}

fieldset {
  border: 1px solid #ccc;
  padding: 40px;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin: 5px 0;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

header img {
    max-height: 200px; /* Ajuste o valor conforme necessário */
    width: 1200px; /* Mantém a proporção da imagem */
        
  }

footer {
  position: fixed;
  bottom: 0;
  max-height: 3rem;
}

img { 
  opacity: 0.3;
  } 