body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header, footer {
  background: #4f72e4;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  background-image: url('images/Header.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

fieldset {
  border: 1px solid #ccc;
  padding: 40px;
  margin-bottom: 15px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin: 5px 0;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

header img {
    max-height: 200px; /* Ajuste o valor conforme necessário */
    width: 1200px; /* Mantém a proporção da imagem */
  }